* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #142231;
    color: white;
} 

.body {
    background-color: #042444;
    color: #333;
}

/* s {
    display: flex;
    align-items: cen;
} */

.btn {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.cart-right {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.small {
    font-size: 1.5rem;
    color: white;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
  }

.logo{
    padding: 10px 15px;
    border-radius: 10px;
}